.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slideshowSlider {
        white-space: nowrap;
        transition: ease 1000ms;
}

.slide {
            display: inline-block;
            background-size: cover;
            height: 400px;
            width: 100%;
            border-radius: 40px;
}

.arrowLeft {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
}

.arrowRight {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
}

.paging {
        position: absolute;
        width: 50px;
        left: 48.95%;
        right: 49.11%;
        top: 86.19%;
        bottom: 6.01%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #fff;
}

@media screen and (max-width: 1024px) {
    .slide {
        height: 300px;
    }

    .arrowLeft {
        width: 15px;
        top: 47%;
    }

    .arrowRight {
        width: 15px;
            top: 47%;
    }
}