.font-container {
    font-family: "Montserrat", sans-serif;
}

footer {
    height: 127px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-tertiary);
    padding: 20px 0;
    color: var(--color-quaternary);
}

.logo-Footer {
    margin-bottom: 20px;
}

.logo-Footer img {
    width: 122px;
}

.text-Footer p {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

@media (max-width: 650px) {
    footer {
        height: 100px;
    }

    .logo-Footer img {
        width: 61px;
    }

    .text-Footer p {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .text-Footer p {
        font-size: 10px;
    }
}
