.font-container {
    font-family: var(--font-primary)
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 0px 85px;
}

.Header header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav a:focus {
    border-bottom: 2px solid --color-primary;
    padding-bottom: 5px;
    /* Cette valeur est optionnelle, ajustez-la selon vos besoins */
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: none;
    color: var(--color-primary);
}